<footer>

    <div class="container" >

        <div class="row gy-3">

            <div class="col-lg-8">

                <h4>

                    Gabi Favoretto

                </h4>

                <p>

                    Estética, Bem-estar e Body Piercing.

                </p>

                <p>

                    Atendimento humanizado para cuidar da sua autoestima e proporcionar momentos de autocuidado.

                </p>

                <a
    href="https://wa.me/5519996618380"
    class="whatsapp-button"
    target="_blank">

    <i class="bi bi-whatsapp"></i>

</a>

            </div>

        </div>

        <hr>

        <div class="text-center">

            <small>

                © 2026 Gabi Favoretto • Todos os direitos reservados.

            </small>

        </div>

    </div>

</footer>