/*=========================================
HERO
=========================================*/

@media(max-width:991px){

    .hero{

        text-align:center;

        padding-top:150px;

    }

    .hero p{

        margin:auto;
        margin-bottom:30px;

    }

    .hero-buttons{

        justify-content:center;

    }

    .hero-image{

        margin-top:60px;

    }

}

@media (min-width: 992px){

    .dropdown:hover .dropdown-menu{

        display:block;

        margin-top:0;

        animation:fadeDropdown .25s ease;

    }

}